@media screen and (max-width: 766px)

  .container
    width: 90%
    margin: 0 auto

  .navigationBar
    height: 80px

  .nav-list
    ul
      li
        padding: 13px

  .nav-list
    ul
      top: 80px
      left: -100%
      +flexConfig(flex, column, space-between, center)
      width: 100%
      height: auto
      overflow: auto
      position: absolute
      background: $mainBlue
      transition: all 0.4s ease

  #logoImg
    align-self: flex-start

  #navigationBtn
    display: none
    visibility: none

  .responsiveBtns
    display: flex
    justify-content: center
    align-items: center

  #navBtnDowload
    margin-right: 25px
    visibility: visible
    display: inline-block
    padding: 10px 20px
    color: $mainBlue
    background: $mainWhite
    text-transform: uppercase
    border: none
    border-radius: 5px
    font-weight: bolder
    font-size: 14px
    border: 1px solid $mainWhite

  #navBtnBurger
    font-size: 14px
    visibility: visible
    display: inline-block
    padding: 10px 20px
    color: $mainBlue
    background: $mainWhite
    border-radius: 5px
    font-weight: bolder
    border: 1px solid $mainWhite

  #navBtnBurger:focus
    outline: none

  #navBtnDowload:focus
    outline: none

  .open-menu-list
        left: 0 !important

  .block-scrolling
    overflow: hidden
