@media screen and (max-width: 1110px) and (min-width: 766px)
  .pricingPlanItem
    width: 250px
    height: 500px

  .planItemImage
    img
      +iconSize(140px, 140px)

  .planItemTitle
    h5
      font-family: $mainFont
      font-size: 18px

  .planItemTitle
    p
      font-family: $mainFont
      font-size: 25px
      font-weight: 500

  .planPros
    font-family: $mainFont

  .planPros
    li
      font-family: $mainFont
      line-height: 2
      font-size: 14px

  .contactLocation
    iframe
      width: 780px
      height: 550px
  // .planItemBtn
  //   button
  //     padding: 15px 30px
  //     border-radius: 35px
  //     border: none
  //     background: $mainWhite
  //     color: $mainBlue
  //     font-size: 16px
  //     text-transform: uppercase
  //     font-family: $mainFont
  //     font-weight: bolder
