@media screen and (max-width: 766px)
  .nav-list
    height: auto
    +flexConfig(flex, column, space-between, center)

  .nav-list
    li
      padding: 10px 0
      display: none


  #logoImg
    align-self: flex-start

  #navigationBtn
    display: none
    visibility: hidden

  #navBtnDowload
    visibility: visible
    display: flex
    align-self: flex-end
    position: absolute
    top: 1.7%
    right: 14%
    padding: 10px 20px
    color: $mainBlue
    background: $mainWhite
    text-transform: uppercase
    border: none
    border-radius: 5px
    font-weight: bold
    border: 1px solid $mainWhite


  #navBtnBurger
    visibility: visible
    display: flex
    align-self: flex-end
    position: absolute
    top: 1.7%
    right: 2%
    padding: 10px 20px
    color: $mainBlue
    background: $mainWhite
    text-transform: uppercase
    border: none
    border-radius: 5px
    font-weight: bold
    border: 1px solid $mainWhite


  .menu-list
    display: none


    
