@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#navBtnDowload {
  visibility: hidden;
  display: none;
}

#navBtnBurger {
  visibility: hidden;
  display: none;
}

.container {
  width: 78.3333333333%;
  margin: 0 auto;
}

.blockNavigation {
  z-index: 100000;
  position: relative;
}

#btnUp {
  display: inline-block;
  background-color: #0067f4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 20%;
  margin: 30px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  transition: background-color 0.3s;
  z-index: 1000;
  display: none;
}

#btnUp:hover {
  cursor: pointer;
  text-decoration: none;
}

#btnUp::after {
  content: "⌃";
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 65px;
  color: #ffffff;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu, .section1 {
  background: #0067f4;
}

#logoImg {
  width: 65px;
  height: 65px;
}

.nav-list ul {
  height: 80px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list ul li {
  padding: 17px 15px 0 15px;
}

.nav-list ul li a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: block;
}

.nav-list ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: linear-gradient(to right, #ffffff 0%, #00a4ff 100%);
  transition: width 0.3s;
}

.nav-list ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.activeLink::after {
  content: "" !important;
  display: block !important;
  width: 100% !important;
  height: 5px !important;
  background: linear-gradient(to right, #ffffff 0%, #00a4ff 100%) !important;
  transition: width 0.3s !important;
}

#navigationBtn {
  color: #0067f4;
  background: #ffffff;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ffffff;
}

#navigationBtn:hover {
  font-size: 18px;
  -webkit-transition: 0.5s ease-in-out;
}

.sticky .nav-menu {
  background: #ffffff;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.body-main {
  flex: 1 1 auto;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.slider-body {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 590px;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 2s ease;
}

.slide {
  width: 33.33%;
  height: 100%;
  position: relative;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0067f4;
}

.slide-data {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 13% 5% 13%;
}

.slide-data h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: bolder;
  width: 100%;
  line-height: 1.3;
}

.slide-data p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 20px 0;
}

.slide-data button {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #0067f4;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 35px;
  font-weight: bolder;
  padding: 10px 40px;
  width: 60%;
  font-size: 18px;
  transition: 0.4s linear;
}

.slide-data button:hover {
  color: #ffffff;
  background-color: #0067f4;
}

.slide-data img {
  width: 60%;
  height: 60%;
}

.slide-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stabilizeBtn {
  flex: 1 1 auto;
}

.slider .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 1;
  padding: 0 10px 7px 10px;
  font-size: 40px;
  color: #fff;
  transition: 0.4s linear;
}

.slider .prev {
  left: 5%;
}

.slider .next {
  right: 5%;
}

.dots {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.dots span {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 0 6px;
  background-color: #fff;
  display: inline-block;
  transition: 0.4s linear;
}

.dots span:hover {
  background-color: #828282 !important;
  border: 2px solid #fff;
}

.dot-active {
  background-color: #828282 !important;
  border: 2px solid #fff;
}

.servicesSection {
  background: #f4f6f7;
}

.pricingContent, .portfolioContent, .servicesContent {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0 80px 0;
}

.contactTitles, .pricingTitles, .portfolioTitles, .servicesTitles {
  text-align: center;
}

.contactTitles h3, .pricingTitles h3, .portfolioTitles h3, .servicesTitles h3 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #000000;
  letter-spacing: 2px;
}

.contactH3, .pricingTitles p, .portfolioTitles p, .servicesTitles p {
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  color: #828282;
}

.servicesDepartments {
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.servicesDepartmentItem:last-child {
  margin-right: 0;
}

.servicesDepartmentItem:first-child {
  margin-left: 0;
}

.servicesDepartmentItem {
  font-family: "Poppins", sans-serif;
  border: 1px solid #0067f4;
  border-radius: 5px;
  background: #ffffff;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  overflow: hidden;
  margin: 0 20px;
}

.itemInnerP1 {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.itemInnerP1 img {
  width: 85px;
  height: 85px;
}

.itemInnerP2 {
  padding-top: 25px;
  flex: 1 1 auto;
}

.itemInnerP2 p {
  padding: 15px 0;
  color: #000000;
  font-size: 15px;
}

.itemInnerP3 a {
  font-size: 16px;
  color: #0067f4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

.itemInnerP3 a:hover {
  color: pink;
  text-decoration: none;
}

.portfolioSection {
  background: #ffffff;
}

.teamSection {
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
}

.card h3 {
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

.imgBox {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.imgBox img {
  width: 250px;
  height: auto;
  border-radius: none;
}

.imgInfo {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 250px;
  left: 0;
  color: #ffffff;
  padding: 15px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.imgInfo span {
  margin-top: 35px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.imgSocial img {
  width: 30px;
  height: 30px;
}

.imgSocial ul {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imgSocial ul li {
  list-style-type: none;
}

#teamOne:hover .imgBox img {
  transform: translateY(-100%);
  transition: all 0.35s ease;
}

#teamOne:hover .imgBox .imgInfo {
  background: #0067f4;
  transform: translateY(-100%);
  transition: all 0.35s ease;
}

.pricingSection {
  background: #f4f6f7;
}

.pricingPlans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pricingPlanItem {
  width: 280px;
  height: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #14f8fb 0%, #2da2fd 35%, #116eff 80%);
}

.planItemImage img {
  width: 180px;
  height: 180px;
}

.planItemTitle {
  flex: 1 1 auto;
}

.planItemTitle h5 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
}

.planItemTitle p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}

.planPrice {
  margin-left: 5px;
}

.planPros {
  list-style-type: none;
  padding-top: 20px;
  text-align: left;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.planPros li {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 15px;
}

.planItemBtn button {
  padding: 15px 30px;
  border-radius: 35px;
  border: none;
  background: #ffffff;
  color: #0067f4;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.footer-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  padding: 70px 0;
}

.footer-content ul {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-content ul li {
  list-style-type: none;
  margin: 10px;
}
.footer-content ul li a img {
  width: 25px;
  height: 25px;
}

.infoTexts {
  text-align: center;
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.infoTextsCredits a {
  color: #0067f4;
}

.infoTextsCredits a:hover {
  text-decoration: none;
}

.qaSection {
  background: #ffffff;
  padding: 70px 0;
}

.qaSectionContent {
  display: flex;
}

.qaSectionTitles p {
  text-transform: uppercase;
  color: #0067f4;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.qaSectionTitles h4 {
  padding-top: 10px;
  color: #000000;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.sectionImage img {
  width: 450px;
  height: 450px;
}

.qaSectionToggleQuestions {
  padding-top: 40px;
}

.questionTitle {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  line-height: 2;
}

.qaSpan {
  float: right;
  padding-left: 30px;
  font-size: 15px;
}

.questionContent {
  color: #0067f4;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  display: none;
}

.questionSection {
  padding: 18px 0;
}

.questionSection:first-child {
  padding-top: 0;
}

.questionSection:last-child {
  padding-bottom: 0;
}

.contactSection {
  background: #f4f6f7;
}

.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0 50px 0;
}

.contactLocation iframe {
  width: 905px;
  height: 550px;
  border-radius: 10px;
  border: 2px solid #828282;
  frameborder: 0;
  border: 0;
  aria-hidden: false;
  tabindex: 0;
}

.contactAddressEmailPhone {
  align-items: center;
}

.contactOther {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.contactOtherItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contactOtherItem p {
  float: left;
  margin-left: 15px;
}

.contactOtherItem img {
  width: 55px;
  height: 55px;
}

.contactPhs {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactPhs p {
  line-height: 1.2;
}

.contactForm {
  padding-top: 70px;
}

.miniIcon {
  width: 60px;
  height: 60px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.contactForm span {
  font-size: 35px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.contactForm h3 {
  font-size: 35px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.formGrid {
  display: grid;
  grid-template: repeat(3, auto)/repeat(2, auto);
  gap: 40px;
}

.formGridItem1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.formGridItem2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.formGridItem3 {
  grid-row: 2/3;
  grid-column: 1/3;
}

.formGridItem4 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.formGridItem4 button {
  padding: 15px 20px;
  background: #0067f4;
  color: #ffffff;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.formLabel {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #828282;
}

.formInput {
  font-size: 14px;
  color: #828282;
  border: 2px solid #828282;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0 15px 5px;
  background: #ffffff;
}

.formInputTA {
  font-size: 14px;
  color: #828282;
  border: 2px solid #828282;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0 50px 5px;
  background: #ffffff;
  resize: none;
}

#successNotice {
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: #333333;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 40px;
}

#successNotice.success {
  background: rgba(59, 255, 82, 0.7);
  animation: successMsg 3s ease forwards;
}

#successNotice.error {
  background: rgba(242, 5, 5, 0.7);
  color: #ffffff;
  animation: successMsg 3s ease forwards;
}

#successNotice.invalidInput {
  background: rgba(255, 118, 33, 0.7);
  color: #000000;
  animation: successMsg 3s ease forwards;
}

@keyframes successMsg {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  80% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.jcarousel {
  position: relative;
  overflow: hidden;
}

.popUpDownload {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000000000;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.openPopUp {
  visibility: visible;
  opacity: 1;
}

.openPopUpBlockBody {
  height: 100%;
  overflow: hidden;
}

.pop-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.pop-content {
  background: #ffffff;
  color: #000000;
  width: 450px;
  padding: 25px;
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 20px;
}

.pop-close {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 20px;
  font-weight: bolder;
  color: #0067f4;
  border: none;
  background: none;
}

.pop-close:hover {
  text-decoration: none;
  color: #ffffff;
  background: #0067f4;
}

.pop-title {
  font-size: 16px;
  font-weight: bolder;
  color: #000000;
}

.pop-text {
  margin-top: 25px;
  letter-spacing: 1.5px;
  color: #333333;
}

@media screen and (max-width: 766px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .navigationBar {
    height: 55px;
  }

  .nav-list ul li {
    padding: 13px;
  }

  .nav-list ul {
    top: 55px;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    background: #0067f4;
    transition: all 0.4s ease;
  }

  #logoImg {
    align-self: flex-start;
    width: 45px;
    height: 45px;
  }

  #navigationBtn {
    display: none;
    visibility: none;
  }

  .responsiveBtns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navBtnDowload {
    margin-right: 25px;
    visibility: visible;
    display: inline-block;
    padding: 10px 20px;
    color: #0067f4;
    background: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    border: 1px solid #ffffff;
  }

  #navBtnBurger {
    font-size: 14px;
    visibility: visible;
    display: inline-block;
    padding: 10px 20px;
    color: #0067f4;
    background: #ffffff;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid #ffffff;
  }

  #navBtnBurger:focus {
    outline: none;
  }

  #navBtnDowload:focus {
    outline: none;
  }

  .open-menu-list {
    left: 0 !important;
  }

  .block-scrolling {
    overflow: hidden;
  }

  .slider-body {
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
  }

  .slider {
    height: 400px;
    text-align: center;
  }

  .slide-data {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20% 20% 20%;
  }

  .slide-data h1 {
    font-size: 40px;
  }

  .slide-data p {
    font-size: 15px;
    padding: 15px 0;
  }

  .slide-data button {
    border-radius: 35px;
    font-weight: bolder;
    padding: 10px 20px;
    width: 100%;
    font-size: 15px;
  }

  .slide-data img {
    display: none;
  }

  .slider .arrows {
    top: 40%;
    transform: translateY(-40%);
    padding: 0 5px 6px 5px;
    font-size: 30px;
  }

  .slider .prev {
    left: 3%;
  }

  .slider .next {
    right: 3%;
  }

  .dots {
    bottom: 0%;
  }

  .servicesTitles p, .portfolioTitles p, .pricingTitles p, .contactH3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    color: #828282;
  }

  .servicesContent, .portfolioContent, .pricingContent {
    padding: 30px 0 30px 0;
  }

  .servicesTitles h3, .portfolioTitles h3, .pricingTitles h3, .contactTitles h3 {
    font-size: 30px;
  }

  .servicesDepartments {
    padding-top: 0;
    flex-direction: column;
  }

  .servicesDepartmentItem {
    border: 2px solid #0067f4;
    border-radius: 15px;
    width: 300px;
    flex-direction: column;
    padding: 30px;
    margin: 20px 0px;
  }

  .itemInnerP1 img {
    width: 75px;
    height: 75px;
  }

  .itemInnerP1 h3 {
    font-size: 21px;
  }

  .itemInnerP2 {
    padding: 15px 0;
    flex: 1 1 auto;
  }

  .itemInnerP2 p {
    color: #000000;
    font-size: 15px;
  }

  .itemInnerP3 a {
    font-size: 16px;
    color: #0067f4;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
  }

  .teamSection {
    padding-top: 20px;
    flex-direction: column;
  }

  .card {
    margin: 30px 0;
  }

  .card:first-child {
    margin-top: 0;
  }

  .imgSocial ul {
    margin-bottom: 0px;
  }

  .pricingPlans {
    flex-direction: column;
    padding-top: 35px;
  }

  .pricingPlanItem {
    width: 300px;
    height: 440px;
    margin: 20px 0;
  }

  .pricingPlanItem:first-child {
    margin-top: 0;
  }

  .planItemImage img {
    width: 120px;
    height: 120px;
  }

  .planItemTitle h5 {
    font-size: 20px;
  }

  .planPros {
    padding-top: 12px;
  }

  .planPros li {
    font-size: 14px;
  }

  .planItemBtn button {
    padding: 10px 70px;
    font-size: 13px;
  }

  .qaSection {
    padding: 40px 0;
  }

  .qaSectionContent {
    display: block;
  }

  .qaSectionTitles {
    text-align: center;
  }

  .qaSectionTitles h4 {
    padding-top: 15px;
    line-height: 1.5;
    font-size: 20px;
  }

  .sectionImage img {
    display: none;
    visibility: hidden;
  }

  .qaSectionToggleQuestions {
    padding-top: 30px;
  }

  .questionTitle {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.7;
  }

  .qaSpan {
    padding-left: 10px;
    font-size: 12px;
  }

  .questionSection {
    padding: 20px 0;
  }

  .questionContent {
    font-size: 16px;
    color: #0067f4;
    margin-top: 20px;
  }

  .contactContent {
    padding: 30px 0 0 0;
  }

  .contactLocation iframe {
    border-radius: 10px;
    border: 2px solid #828282;
    width: 320px;
    height: 400px;
  }

  .contactContent {
    padding-top: 20px;
  }

  .contactOther {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }

  .contactOtherItem {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 30px;
  }

  .contactOtherItem img {
    width: 35px;
    height: 35px;
  }

  .contactPhs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .contactPhs p {
    font-size: 16px;
    line-height: 1.2;
  }

  .contactForm::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #000000;
    border-radius: 55px;
  }

  .contactForm {
    padding-top: 30px;
  }

  .miniIcon {
    display: none;
    visibility: hidden;
  }

  .contactForm span {
    font-size: 25px;
  }

  .contactForm h3 {
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
  }

  .formGrid {
    display: grid;
    grid-template: repeat(5, auto)/repeat(5, auto);
    gap: 25px;
  }

  .formGridItem1 {
    grid-row: 1/2;
    grid-column: 1/6;
  }

  .formGridItem2 {
    grid-row: 2/3;
    grid-column: 1/6;
  }

  .formGridItem3 {
    grid-row: 3/4;
    grid-column: 1/6;
  }

  .formGridItem4 {
    grid-row: 4/5;
    grid-column: 1/6;
  }

  .formGridItem4 button {
    width: 100%;
    margin-top: 25px;
  }

  #successNotice {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .pop-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }

  .pop-content {
    background: #ffffff;
    color: #000000;
    width: 450px;
    padding: 25px;
    position: relative;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 20px;
  }

  .footer-content {
    padding: 40px 0;
  }

  .footer-content ul {
    padding-top: 0px;
  }

  .footerMainLogo {
    display: none;
  }

  .infoTexts {
    padding-top: 25px;
  }
}
@media screen and (max-width: 1110px) and (min-width: 766px) {
  .pricingPlanItem {
    width: 250px;
    height: 500px;
  }

  .planItemImage img {
    width: 140px;
    height: 140px;
  }

  .planItemTitle h5 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }

  .planItemTitle p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  .planPros {
    font-family: "Poppins", sans-serif;
  }

  .planPros li {
    font-family: "Poppins", sans-serif;
    line-height: 2;
    font-size: 14px;
  }

  .contactLocation iframe {
    width: 780px;
    height: 550px;
  }
}

/*# sourceMappingURL=main.css.map */
