@import "varsForDesign"

*
  margin: 0
  padding: 0
  box-sizing: border-box

#navBtnDowload
  visibility: hidden
  display: none

#navBtnBurger
  visibility: hidden
  display: none

%container
  width: 940px * 100% / 1200px
  margin: 0 auto



#btnUp
  display: inline-block
  background-color: $mainBlue
  width: 50px
  height: 50px
  text-align: center
  border-radius: 4px
  margin: 30px
  position: fixed
  bottom: 1%
  right: 1%
  transition: background-color .3s
  z-index: 1000
  display: none

.show
  display: inline-block


#btnUp:hover
  cursor: pointer
  text-decoration: none

#btnUp::after
  content: "\f077"
  font-family: FontAwesome
  font-weight: normal
  font-style: normal
  font-size: 2em
  line-height: 50px
  color: #fff


.nav-menu
  background: $mainBlue

.nav-logo
  img
    +iconSize(70px, 50px)

.nav-list
    height: 100px
    +flexConfig(flex, row, space-between, center)

// .nav-list
//   li
//     list-style-type: none
//
.nav-list
  ul
   li
     a
       font-size: 16px
       font-weight: bold
       text-transform: uppercase
       color: $mainWhite
       font-family: $mainFont
       text-decoration: none


.nav-list
  ul
    list-style-type: none

.nav-list
  ul
    +flexConfig(flex, row, center, center)

.nav-list
  ul
    li
      padding: 10px 15px 0 15px

#navigationBtn
    color: $mainBlue
    background: $mainWhite
    text-transform: uppercase
    padding: 15px 30px
    border: none
    border-radius: 5px
    font-weight: bold
    border: 1px solid $mainWhite

.nav-list
  #navigationBtn:hover
    font-size: 18px
    -webkit-transition: 0.5s ease-in-out

%changeStyleNav
  .nav-menu
    background: $mainWhite


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky
  position: fixed
  top: 0
  width: 100%
  @extend %changeStyleNav


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .body-main
  padding-top: 150px



//M.Queries for Responsiveness
@import mediaQueries
