@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#navBtnDowload {
  visibility: hidden;
  display: none;
}

#navBtnBurger {
  visibility: hidden;
  display: none;
}

.container {
  width: 78.3333333333%;
  margin: 0 auto;
}

.blockNavigation {
  z-index: 100000;
  position: relative;
}

#btnUp {
  display: inline-block;
  background-color: #0067f4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 20%;
  margin: 30px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  transition: background-color 0.3s;
  z-index: 1000;
  display: none;
}

#btnUp:hover {
  cursor: pointer;
  text-decoration: none;
}

#btnUp::after {
  content: "⌃";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 65px;
  color: #ffffff;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu, .section1 {
  background: #0067f4;
}

#logoImg {
  width: 65px;
  height: 65px;
}

.nav-list ul {
  height: 80px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list ul li {
  padding: 17px 15px 0 15px;
}

.nav-list ul li a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: block;
}

.nav-list ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: linear-gradient(to right, #ffffff 0%, #00a4ff 100%);
  transition: width 0.3s;
}

.nav-list ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.activeLink::after {
  content: "" !important;
  display: block !important;
  width: 100% !important;
  height: 5px !important;
  background: linear-gradient(to right, #ffffff 0%, #00a4ff 100%) !important;
  transition: width 0.3s !important;
}

#navigationBtn {
  color: #0067f4;
  background: #ffffff;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ffffff;
}

#navigationBtn:hover {
  font-size: 18px;
  -webkit-transition: 0.5s ease-in-out;
}

.sticky .nav-menu {
  background: #ffffff;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.body-main {
  flex: 1 1 auto;
}

.footer-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.slider-body {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 590px;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 2s ease;
}

.slide {
  width: 33.33%;
  height: 100%;
  position: relative;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0067f4;
}

.slide-data {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 13% 5% 13%;
}

.slide-data h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: bolder;
  width: 100%;
  line-height: 1.3;
}

.slide-data p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 20px 0;
}

.slide-data button {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #0067f4;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 35px;
  font-weight: bolder;
  padding: 10px 40px;
  width: 60%;
  font-size: 18px;
  transition: 0.4s linear;
}

.slide-data button:hover {
  color: #ffffff;
  background-color: #0067f4;
}

.slide-data img {
  width: 60%;
  height: 60%;
}

.slide-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stabilizeBtn {
  flex: 1 1 auto;
}

.slider .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 1;
  padding: 0 10px 7px 10px;
  font-size: 40px;
  color: #fff;
  transition: 0.4s linear;
}

.slider .prev {
  left: 5%;
}

.slider .next {
  right: 5%;
}

.dots {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.dots span {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 0 6px;
  background-color: #fff;
  display: inline-block;
  transition: 0.4s linear;
}

.dots span:hover {
  background-color: #828282 !important;
  border: 2px solid #fff;
}

.dot-active {
  background-color: #828282 !important;
  border: 2px solid #fff;
}

.servicesSection {
  background: #f4f6f7;
}

.pricingContent, .portfolioContent, .servicesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0 150px 0;
}

.pricingTitles, .portfolioTitles, .servicesTitles {
  text-align: center;
}

.pricingTitles h3, .portfolioTitles h3, .servicesTitles h3 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #000000;
  letter-spacing: 2px;
}

.pricingTitles p, .portfolioTitles p, .servicesTitles p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  color: #828282;
}

.servicesDepartments {
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.servicesDepartmentItem:last-child {
  margin-right: 0;
}

.servicesDepartmentItem:first-child {
  margin-left: 0;
}

.servicesDepartmentItem {
  border: 1px solid #0067f4;
  border-radius: 5px;
  background: #ffffff;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  overflow: hidden;
  margin: 0 20px;
}

.itemInnerP1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.itemInnerP1 img {
  width: 85px;
  height: 85px;
}

.itemInnerP2 {
  padding-top: 25px;
  flex: 1 1 auto;
}

.itemInnerP2 p {
  padding: 15px 0;
  color: #000000;
  font-size: 15px;
}

.itemInnerP3 a {
  font-size: 16px;
  color: #0067f4;
  text-transform: uppercase;
  font-weight: bolder;
}

.itemInnerP3 a:hover {
  color: pink;
  text-decoration: none;
}

.portfolioSection {
  background: #ffffff;
}

.portfolioGrids {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 40px;
}

.pricingSection {
  background: #f4f6f7;
}

.pricingPlans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pricingPlanItem {
  width: 270px;
  height: 470px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: linear-gradient(180deg, #14f8fb 0%, #2da2fd 35%, #116eff 80%);
}

@media screen and (max-width: 766px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .navigationBar {
    height: 80px;
  }

  .nav-list ul li {
    padding: 13px;
  }

  .nav-list ul {
    top: 80px;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    background: #0067f4;
    transition: all 0.4s ease;
  }

  #logoImg {
    align-self: flex-start;
  }

  #navigationBtn {
    display: none;
    visibility: none;
  }

  .responsiveBtns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navBtnDowload {
    margin-right: 25px;
    visibility: visible;
    display: inline-block;
    padding: 10px 20px;
    color: #0067f4;
    background: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    border: 1px solid #ffffff;
  }

  #navBtnBurger {
    font-size: 14px;
    visibility: visible;
    display: inline-block;
    padding: 10px 20px;
    color: #0067f4;
    background: #ffffff;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid #ffffff;
  }

  #navBtnBurger:focus {
    outline: none;
  }

  #navBtnDowload:focus {
    outline: none;
  }

  .open-menu-list {
    left: 0 !important;
  }

  .block-scrolling {
    overflow: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
